<div ng-controller="CustomerListCtrl">
    <h4>{{title}}</h4>

    <app-pagination-control page="page" current-page="currentPage"
                            on-page-changed="pageChanged()"></app-pagination-control>

    <ul class="customers">
        <li ng-repeat="customer in customers"
            class="thumbnail product-listing">
            <p><a href="#/customers/{{customer.id}}">{{customer.firstName + ' ' + customer.lastName}}</a></p>
        </li>
    </ul>

    <app-pagination-control page="page" current-page="currentPage"
                            on-page-changed="pageChanged()"></app-pagination-control>
</div>
