<div>
    <!-- Form Name -->
    <div class="modal-header">
        <legend style="margin-bottom:0; border-bottom: 0;">{{formTitle}} Cliente</legend>
    </div>

    <div class="modal-body">
        <form class="form-horizontal" role="form" name="customerForm" ng-submit="customerForm.$valid && submit()"
              novalidate>
            <fieldset ng-disabled="readOnly.value">
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-3 control-label" for="formFirstName">Nombre</label>

                    <div class="col-md-7">
                        <input id="formFirstName" name="firstName" ng-model="customer.firstName" type="text"
                               placeholder="Ingrese nombre del cliente" class="form-control input-md" required="">

                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-3 control-label" for="formLastName">Apellido</label>

                    <div class="col-md-7">
                        <input id="formLastName" name="lastName" ng-model="customer.lastName" type="text"
                               placeholder="Ingrese apellido del cliente" class="form-control input-md" required="">
                        <span ng-show="customer.lastNameMsg" class="help-block">{{customer.lastNameMsg}}</span>
                    </div>
                </div>

                <!-- DNI input-->
                <div class="form-group">
                    <label class="col-md-3 control-label" for="formDNI">DNI</label>

                    <div class="col-md-7">
                        <input id="formDNI" name="dni" ng-model="customer.dni" type="text"
                               placeholder="Ingrese DNI del cliente" class="form-control input-md">
                    </div>
                </div>

                <!-- Address input-->
                <div class="form-group">
                    <label class="col-md-3 control-label" for="formAddress">Dirección</label>

                    <div class="col-md-7">
                        <input id="formAddress" name="address" ng-model="customer.address" type="text"
                               placeholder="Ingrese Dirección del cliente" class="form-control input-md">
                    </div>
                </div>

                <!-- Email input-->
                <div class="form-group">
                    <label class="col-md-3 control-label" for="formEmail">E-mail</label>

                    <div class="col-md-7">
                        <input id="formEmail" name="email" ng-model="customer.email" type="email"
                               placeholder="Ingrese E-mail del cliente" class="form-control input-md">
                    </div>
                </div>

                <!-- ContactNumber input-->
                <div class="form-group">
                    <label class="col-md-3 control-label" for="formContactNumber">Teléfono</label>

                    <div class="col-md-7">
                        <input id="formContactNumber" name="contactNumber" ng-model="customer.contactNumber" type="tel"
                               placeholder="Ingrese Teléfono del cliente" class="form-control input-md">
                    </div>
                </div>

                <!-- Button (Double) -->
                <div ng-hide="readOnly.value" class="form-group">
                    <div class="col-md-offset-4 col-md-8">
                        <button type="submit" class="btn btn-primary">Enviar</button>
                        <button type="button" ng-click="reset()" class="btn btn-inverse">Reset</button>
                    </div>
                </div>

            </fieldset>
        </form>

        <p ng-show="message" style="color: green">{{message}}</p>
    </div>

    <div class="modal-footer">
        <button ng-show="readOnly.value" class="btn btn-warning" ng-click="edit()">Editar</button>
        <button class="btn btn-default" ng-click="close()">Cerrar</button>
    </div>
</div>
