<div class="btn-group display-inline pull-right text-align-left hidden-tablet">
    <button class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-cog fa-lg"></i>
    </button>
    <ul class="dropdown-menu dropdown-menu-xs pull-right">
        <li>
            <a href=""><i class="fa fa-file fa-lg fa-fw txt-color-greenLight"></i> <u>P</u>DF</a>
        </li>
        <li>
            <a href=""><i class="fa fa-times fa-lg fa-fw txt-color-red"></i> <u>D</u>elete</a>
        </li>
        <li class="divider"></li>
        <li class="text-align-center">
            <a href="">Cancel</a>
        </li>
    </ul>
</div>
